@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



@media (min-width: 500px) {
  #cursor {
    width: 24px;
    height: 24px;
    background: #F1CCFF;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
    transition: transform 0.6s ease-out, width 0.6s ease-out, height 0.6s ease-out, opacity 0.6s ease-out;
    will-change: transform;
  }

  * {
    cursor: none;
  }

  #cursor.large {
    width: 350px; 
    height: 350px;
    transition: transform 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out;
  }
}

/* 500px er niche default cursor show korbe */
@media (max-width: 499px) {
  * {
    cursor: auto;
  }

  #cursor {
    display: none;
  }
}


